<nav class="sidebar">
    <section aria-label="Sidebar">
        <ul>
            <li>
                <button type="button" aria-label="Ajouter un élément">Accueil</button>
            </li>
            <li>
                <button type="button" aria-label="Modifier l'élément sélectionné">
                    Tableau de bord
                </button>
            </li>
            <li>
                <button type="button" aria-label="Supprimer l'élément sélectionné">
                    Relevés de temps
                </button>
            </li>
            <li>
                <button type="button" aria-label="Supprimer l'élément sélectionné">
                    Plus
                </button>
            </li>
        </ul>
    </section>
</nav>