@import '../../../../../assets/styles/var';
@import '../../../../../assets/styles/mixins.scss';

nav {
    background-color: $--primary-background-color-top-bar;
    height: 3rem;
    width: calc(100vw - 12rem);
    border-bottom: 2px solid $--primary-background-color-border;
    @include flex-align-items-center;

    section {
        position: relative;
        @include flex-align-items-center;

        button {
            background-color: transparent;
            color: $--secondary-color-text;
            margin: 0 0.5rem;
            font-size: 0.8rem;
            border: 1px solid $--primary-background-color-border;
            border-radius: 2rem;
            height: 1.6rem;
            padding: 0.1rem;
            min-width: 4rem;
        }

        button:hover {
            background-color: $--secondary-background-color-hover;
        }
    }
}