/* Utility */

@mixin flex {
  display: flex;
}

@mixin flex-align-items-center {
  display: flex;
  align-items: center;
}

@mixin flex-justify-content-center {
  display: flex;
  justify-content: center;
}

@mixin flex-justify-content-flex-end {
  display: flex;
  justify-content: flex-end;
}

@mixin flex-direction-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-justify-content-space-between-align-items-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-justify-content-center-align-items-center {
  display: flex;
  justify-content: center;
  align-items: center;
}